{% extends "base.html.twig" %}
{% block title %}{% trans %} default.panier.title {% endtrans %}{% endblock %}
{% block content %}
    <p>Panier</p>
    <div class="container">
        <div class="row">
            {% for id, article in panier %}
            <div class="col-12">id: {{ id }} quantite: {{ article }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
